.contacto{
    align-items: center;
    background: #EAF2FD;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2.5rem;
}

.contacto__titulo{
    color: #464646;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.contacto__descripcion{
    color: #464646;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 1rem 0;
}

@media (max-width: 600px){
    .contacto__imagen{
        display: none;
    }
    .contacto{
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    .contacto__titulo{
        text-align: center;
    }
    .contacto__descripcion{
        width: 100%;
    }
}