.presentacion{
    align-items: center;
    background: #F5F5F5;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 4rem);
    justify-content: center;
    margin: 0 ;
    padding: 2.5rem;
}

.presentacion__div{
    width: calc(100vw - 380px);
}

@media (max-width: 600px){
    .presentacion{
        align-items: center;
        flex-direction: column;
        margin: 2.5rem 0;
        padding: 0;
    }
    .presentacion__div{
        width: 100%;
    }
}

