.presentacion__descripcion{
    color: #464646;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 5rem 0;
    text-align: left;
    width: 80%;
}

@media (max-width: 768px){
    .presentacion__descripcion{
        text-align: center;
        font-size: 22px;
        align-items: center;
        width: fit-content;
    }
}

@media (max-width: 600px){
    .presentacion__descripcion{
        text-align: center;
        font-size: 22px;
        align-items: center;
        margin: 0 2rem;
    }
}
