.presentacion__lista{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10rem;
}

@media (max-width: 600px){
    .presentacion__lista{
        flex-direction: column;
        margin-top: 0;
    }
}

@media (width: 768px){
    .presentacion__lista{
        margin-top: 2rem;
    }
}