.presentacion__avatar{
    background: url(../../IMAGENES/242567784_10159292919841664_5022355005537457348_n.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    display:inline-block;
    height: 300px;
    margin-right: 2rem;
    width: 300px;
}

@media (max-width: 768px){
    .presentacion__avatar{
        margin: 1rem 0;
        order: -1;
        height: 150px;
        width: 150px;
    }
}

@media(max-width: 600px){
    .presentacion__avatar{
        height: 100px;
        order: -1;
        width: 100px;
    }
}