.presentacion__descripcion{
    color: #464646;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 5rem 0;
    text-align: left;
    width: 80%;
}


