.presentacion__descripcion{
    color: #464646;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 2rem;
    width: 80%;
}

@media (max-width: 768px){
    .presentacion__descripcion{
        text-align: center;
        font-size: 18px;
        align-items: center;
        margin: 0;
        width: 100vw;
    }
}