.skills__divcard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2.5rem;
    width: 100%;
}

.skills__imagenes:hover{
    transform: scale(1.1, 1.1) rotate(0.01turn);;
}