.header__nav__li-a{
    color: #464646;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

.header__nav__li-a:hover{
    border-bottom: 1px solid #464646;
}