.header__nombre{
    color: #464646;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

@media screen and(max-width: 768px) {
    .header__nombre{
        align-self: center;
    }
}