.formacion{
    align-items: center;
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
}

@media (width: 768px){
    .formacion{
        width: 100%;
    } 
}