.formacion__cards{
    display: flex;
    flex-direction: row;
}

.marketin-digital{
    background: #ffffff;
    height: 286px;
    width: 368px;
}

@media (max-width: 600px){
    .formacion__cards{
        flex-direction: column;
    }
}

@media (width: 768px){
    .formacion__cards{
        flex-direction: column;
    }
}