.sobreMi__descripcion{
        color: #464646;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        margin-top: 2.5rem;
        width: 60vw;
}

@media (max-width: 600px){
        .sobreMi__descripcion{
                width: 100vw;
        }
}

@media (width:768px){
        .sobreMi__descripcion{
                width: 90vw;
        }
}