    .sobreMi{
        background: #EAF2FD;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 383px;
        padding: 2.5rem 0 2.5rem 2.5rem;
        width: 96vw;
    }



