@media (min-width: 992px){
    .sobreMi__descripcion{
        color: #464646;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        margin-top: 2.5rem;
        width: 60vw;
    }
}

@media (min-width: 768px){
    .sobreMi__descripcion{
        color: #464646;
        font-family: 'Montserrat', sans-serif;
        font-size: 19px;
        margin: 2.5rem 0.5rem;
        padding: 0;
        width: 80vw;
    }
}

@media (max-width: 768px){
    .sobreMi__descripcion{
        color: #464646;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        margin-top: 2.5rem;
        width: 80vw;
    }
}