.xp__btn{
    margin-top: 2rem;
}

.xp__btn-repo{
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem;
    transition: 0.5s;
}

.xp__btn-demo{
    background: #2A7AE4;
    border: 1px solid #2A7AE4;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem;
    transition: 0.5s;
}

.xp__btn-demo:hover{
    background: #464646;
}

.xp__btn-repo:hover{
    background: #EAF2FD;;
}